<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>1</title>
</head>
<body>
  <header>
    <!-- Staple for navigating the site -->
    <nav>
      <a href="/">Hi</a>
      <a href="/gabpost">Post</a>
      <a href="#">User:{{sessionName}}</a>
      <a href="/login">Sign Out</a>
    </nav>
  </header>
  <h1></h1>
  <form class="" action="/gabpost" method="post">
    <textarea maxlength="200" name="message" placeholder="post here"></textarea>
    <input type="submit" name="postG" value="submit post">
  </form>
  <!--test1-->
</body>
</html>
