<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2</title>
</head>
<body>
  <header>
    <!-- staple for navigatin -->
    <nav>
      <a href="/">Hi</a>
      <a href=/gabpost>Post</a>
      <a href="/#">User:{{sessionName}}</a>
      <a href="/login">Sign Out</a>
    </nav>
  </header>
  <h1>hello?</h1>

  {{#model}}
    <div id="{{id}}" class="">
    <p> can i see this</p>
    <p>{{users.username}}</p>
    <p>{{message}}</p>
    {{#userLikes.length}}
    <a href="/like/{{id}}">Likes: {{.}}</a>
    {{/userLikes.length}}
    {{^userLikes.length}}
    <a href="/like/{{id}}">No Likes Yet</a>
    {{/userLikes.length}}
    <!-- forget exactly what this is doing i need to ask chris i forget the point of hidden -->
    <!-- but i think it is a way to take on the ID to the url  and to give the post ids -->
    <div>
      <p>hi?</p>
        <form class="" action="/{{id}}" method="post">
          <input type="hidden" name="id" value="{{id}}">
          <input type="submit" name="like" value="Like">
        </form>
      </div>
      {{#ownerDelete}}
      {{loggedInUser}}
      {{/ownerDelete}}
    </div>
{{/model}}

    <!--test2-->
  </body>
  </html>
